extends layout

block content
    .container.clearfix
      #people-list.people-list
        .search
        input(type='text', placeholder='Enter Name')#newID
        i.fa.fa-search
      .chat
        .chat-header.clearfix
          img(src='/images/avatar.png', alt='avatar')
          .chat-about
            .chat-with Chat with Raushan
            .chat-num-messages 
          i.fa.fa-star
        // end chat-header
        .chat-history
          ul#startadding
         // end chat-history
        .chat-message.clearfix
          textarea#message-to-send(name='message-to-send', placeholder='Type your message', rows='3')
          i.fa.fa-file-o
          i.fa.fa-file-image-o
          button#submit Send
        // end chat-message
        // end chat
    // end container
   
